In [1]:
import pandas as p

In [2]:
dataset=p.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=p.get_dummies(dataset)
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [4]:
dataset=p.get_dummies(dataset,drop_first=True)
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [6]:
# Input dataset

independent = dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [7]:
# Output dataset

dependent = dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
# based on SKLearn svm libraries, using DecisionTreeRegressor

from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor

# criterion{“squared_error”, “friedman_mse”, “absolute_error”, “poisson”}, default=”squared_error”}
# splitter{“best”, “random”}, default=”best”
# max_features int, float or {“sqrt”, “log2”}

param_grid = {'criterion':['mse','friedman_mse','mae'],
             'splitter':['random','best'],
             'max_features':['auto','sqrt','log2']}

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3, scoring = None, n_jobs = -1)

# fitting the model for grid search

grid.fit(independent,dependent)

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done  47 out of  54 | elapsed:    3.4s remaining:    0.4s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    3.5s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'friedman_mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['random', 'best']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [9]:
# print best parameter after tuning
# print(grid.best_params_)
re = grid.cv_results_

print("The R-Score value for the best parameter {} :".format(grid.best_params_))

The R-Score value for the best parameter {'criterion': 'mse', 'max_features': 'log2', 'splitter': 'best'} :

In [10]:
# View in Table form

table = p.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003896,0.004100,0.004539,0.004059,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.663806,0.656163,0.627139,0.649036,0.015794,13
1,0.006992,0.002029,0.002960,0.003503,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.710712,0.653734,0.702680,0.689042,0.025181,7
2,0.005618,0.004266,0.005662,0.004596,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.599877,0.605548,0.616848,0.607424,0.007054,17
3,0.007800,0.001882,0.005642,0.001392,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.621470,0.727376,0.719490,0.689446,0.048174,6
4,0.009253,0.004338,0.002203,0.003116,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.615609,0.635410,0.621648,0.624222,0.008286,16
5,0.008006,0.006212,0.000000,0.000000,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.728354,0.642374,0.725439,0.698722,0.039862,1
6,0.005544,0.007147,0.005212,0.007370,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.662045,0.710544,0.717604,0.696731,0.024696,2
7,0.011804,0.008347,0.005207,0.007364,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.706812,0.651273,0.697275,0.685120,0.024248,8
8,0.000695,0.000983,0.010421,0.007369,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.678633,0.660378,0.579166,0.639392,0.043234,15
9,0.013267,0.003973,0.000332,0.000470,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.666145,0.665089,0.661389,0.664208,0.002039,10
10,0.006788,0.008903,0.002596,0.003671,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.720838,0.646247,0.599030,0.655371,0.050145,11
11,0.014262,0.004825,0.001244,0.001760,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.613318,0.691089,0.702144,0.668850,0.039525,9
12,0.035299,0.002814,0.005100,0.007212,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.649684,0.735466,0.703301,0.696150,0.035383,3
13,0.051050,0.003299,0.005211,0.007369,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.691040,0.712520,0.678105,0.693888,0.014194,4
14,0.018301,0.001039,0.000000,0.000000,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.653648,0.709189,0.580725,0.647854,0.052605,14
15,0.030658,0.002462,0.009458,0.003457,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.731950,0.634116,0.702753,0.689607,0.041008,5
16,0.025838,0.006834,0.005412,0.000367,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.577311,0.592774,0.538924,0.569670,0.022639,18
17,0.017349,0.008401,0.000333,0.000470,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.646723,0.654805,0.647158,0.649562,0.003712,12

In [11]:
# Check and verify

age_input=float(input("Age :"))
bmi_input=float(input("BMI :"))
children_input=float(input("Children :"))
sex_female_input=int(input("Sex: If female give value as 1 otherwise 0 -"))
sex_male_input=int(input("Sex: If male give value as 1 otherwise 0 -"))
smoker_no_input=int(input("Smoker: If non-smoker give value as 1 otherwise 0 -"))
smoker_yes_input=int(input("Smoker:If smoker give value as 1 otherwise 0 -"))

Age :32
BMI :26.2
Children :2
Sex: If female give value as 1 otherwise 0 -1
Sex: If male give value as 1 otherwise 0 -0
Smoker: If non-smoker give value as 1 otherwise 0 -1
Smoker:If smoker give value as 1 otherwise 0 -0

In [12]:
Future_Prediction = grid.predict([[age_input,bmi_input,children_input,sex_female_input,sex_male_input,smoker_no_input,smoker_yes_input]])
# Future_Prediction
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[4340.4409]